RedirectMatch 403 ^/view/.*$
RedirectMatch 403 ^/model/.*$
RedirectMatch 403 ^/controller/.*$

ErrorDocument 403 /Erreur

RewriteEngine On
RewriteBase /


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ ?action=$1 [QSA,L]