RewriteEngine On
RewriteBase /

RedirectMatch 403 ^/view/.*$
RedirectMatch 403 ^/model/.*$
RedirectMatch 403 ^/controller/.*$
RedirectMatch 403 /\.

ErrorDocument 403 /Login
ErrorDocument 404 /Login


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ ?action=$1 [QSA,L]
