<footer class="fixed-bottom bg-body-tertiary text-body-tertiary p-2">
    <div>
        <div class="container text-center">
            <small><a href="/ResetDB">Reinitisaliser la BD</a></small> -
            <small><a href="https://github.com/FruitPassion/gestion_cabinet" target="_blank">Lien du projet
                github</a></small>
        </div>
        <div class="container text-center mt-3">Créateurs :</div>
        <div class="container text-center">
            <small><a href="https://n3m0.fr/fr/" target="_blank">Hamza Nanaha</a></small> -
            <small><a href="https://fruitpassion.fr/" target="_blank">Raphael Boudin</a></small>
        </div>
    </div>
</footer>

